.back-ground{
  background-image: url(https://pbs.twimg.com/media/D_mtXFSVAAELOF3?format=jpg&name=large);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.info-section{
  border: 1px solid white;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1em;
  margin: 1em;
}

.button-section{
  height: 4em;
  width: 600px;
  padding: 1em;
  margin: 1em;
  border-radius: 200px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1,h2,h3{
  color: white;
}
